*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
/**box1**/
.nav-logo
{
    height:50px;
    width:100px;
 
}
.logo
{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100% ;


}
/**box2**/
.border
{
    border: 2px solid transparent;

}
.border:hover{
    border: 1.5px solid white;
}
.deliver
{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.india
{
   font-size: 1rem; 
   margin-left: 3px;

}
.add-icon
{
    display: flex;
    align-items: center;
}
/** box3 **/
.nav-search
{
    display:flex;
    justify-content: space-evenly;
    background-color: yellow;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.All
{
    background-color: #f3f3f3;
    width: 50px;
    text-align: centre;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;

}
.search_amazon
{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon
{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: #febd68;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color: #0f1111;


}
.nav-search:hover
{
    border: 1.5px solid orange;
}
/**box4**/
span{
    font-size: 0.7rem;
}
.Accounts{
    font-size: 0.85rem;
    font-weight: 700;

}
/**box 6**/
.nav-cart
{
    font-size: 0.85rem;
}
.nav-cart i {
    font-size: 30px;
    font-weight: 700;
}
.cart{
    text-align: right;

}

/** panel **/
.panel
{
    height: 40px;
    background-color:#222f3d ;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;

}
.panel-ops
{
    width: 70%;
    font-size: 0.85rem;
}
.paneli-deals
{
    font-size: 0.9rem;
    font-weight: 700;


}
/** attract-section**/
.attract-section
{
    background-image: url("cover-pic.jpg");
    height: 390px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.attract-mesg
{
    background-color: white;
    height: 40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}
.attract-mesg a{
    color: #007185;

}

/**shopping-section-1 **/
.shop-section
{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-evenly;
    /**background-color: rgb(246, 241, 231);**/
    background-image: linear-gradient(rgb(244, 241, 232),rgb(215, 215, 215));
}
.set
{
    /*border: 2px solid black;*/
    height: 400px;
    width: 260px;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 20px;
    
}
.box-img
{
    height: 300px;
    background-size: cover;
    margin-top: 100 rem;
    margin-bottom: 1rem;
   
}
.box-content
{
    margin-left: 10px;
    margin-right: 10px;
    

}
.box-content p{
    color: #007185;
}


.shop-now
{
    text-decoration: none;
}
.shop-section2
{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-evenly;
    /**background-color: rgb(233, 225, 210);
    background-image: linear-gradient(rgb(244, 241, 232),rgb(211, 206, 206));**/
}
/**long-shopping-section**/
.long-shop-section
{
    /**background-color: rgb(233, 225, 210);
    background-image: linear-gradient(rgb(244, 241, 232),rgb(211, 206, 206));**/
    display: flex;
    flex-wrap:  wrap;

}

.background-color
{
    background-image: linear-gradient(rgb(213, 218, 213),rgb(244, 241, 232),rgb(213, 218, 213));
}

.set2
{
     /**border: 2px solid black;**/
     height: 250px;
     width: 1200px;
     background-color: white;
     padding: 20px 0px 15px;
     margin: 30px;
    
}
.long-box-content
{
    margin-left: 10px;
    margin-right: 10px;
    
}
.long-box-img
{
    height: 200px;
    background-size: cover;
    margin-top: 100 rem;
    margin-bottom: 1rem;
    
}

/** footer **/
footer{
    margin-top: 15px;
}

.foot-panel-1
{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;



}

.foot-panel-2
{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;


}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;


}
.foot-panel-3
{
    background-color: #222f3d;
    color: white;
    border-top: 0.001px solid rgb(120, 120, 124) ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-section{
    margin-top: 50px;
}

.footer-button
{
    background-color: #f3ca18;
    border:  1.5px solid  #ffe093;
    color: #000;;
    padding: 8px 92px;
    text-align: center;
    text-decoration: solid;
    display: block;
    font-size: 12px;
    margin-left: 520px;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffe093;

   
}

.see{
    text-align: center;
    font-size: 0.85rem;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px ;


}
.foot-panel-4
{
    background-color: #171818;
    color: white;
    height: 100px;
    font-size: 0.8rem;
    text-align: center;
}

.pages
{
    /**font-size: 0.7rem;
    text-align: center;**/
    padding-top: 25px;

}
.copyright
{
    /**font-size: 0.7rem;
    text-align: center;**/
    padding: 5px;
}
.english{
    width: 100px;
    padding: 8px;
    border: 1px solid gray;
    margin-left: 100px;
    font-size: 13px;
    color: #CCCCCC;
    justify-content: center;
    display: inline;
    margin-right: 8px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    
    
  }
  .rupee
  {
    width: 160px;
    padding: 8px ;
    border: 1px solid gray;
    margin-right: 8px;
    font-size: 13px;
    color: #CCCCCC;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
   
    
    
  }
  .united
  {
    width: 140px;
    padding: 8px;
    border: 1px solid gray;
    
    font-size: 13px;
    color: #CCCCCC;
    justify-content: center;
    display: inline;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    
  }

 